/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:rgb(255, 255, 255);
}

/************/
/* HET LOGO */
/************/
.img-mijnhindoeismelogo {
	width: 150px;
}

/*************/
/* HET MENU */
/*************/
nav {
	order:-1;
}




/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
  color:var(--color-text);
  background-color:var(--color-background);
}

